.login-page {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; // fuerza que ocupe todo
  overflow: hidden; // evita scroll inesperado

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    margin-left: -10%;


    img {
      width: 150%;
      height: auto;

    }
  }

  .login-form {
    width: 100%;
    gap: 16px;
    bottom:0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
  }
}


ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  --ion-toolbar-background: transparent;
  box-shadow: none;
  z-index: 10; // por si acaso hay overlays
}

ion-footer ion-button {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 20px;
  width: auto;
  margin: 8px auto;
  display: block;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}

.register-link {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;

  a {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
  }
}

