<!-- login.page.html -->
<ion-page>

  <ion-content class="ion-padding login-page">
    <div class="logo-container">
      <img src="assets/img/logo-gtp.webp" alt="RockSessions Logo" />
    </div>

    <form class="login-form" (submit)="login()">
      <ion-input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        required>
      </ion-input>

      <ion-input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="password"
        required>
      </ion-input>

      <ion-button expand="block" type="submit">Entrar</ion-button>
    </form>
  </ion-content>

  <!-- Pie fijo abajo -->
  <ion-footer>
    <ion-toolbar color="transparent">
      <ion-button
        routerLink="/register"
        fill="clear"
        expand="block">
        ¿No tienes cuenta? Regístrate
      </ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-page>
