<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-page">
  <div class="logo-container">
    <img src="assets/img/logo-gtp.webp" alt="RockSessions Logo" />
  </div>

  <form class="login-form" (submit)="register()">
    <ion-input
      type="text"
      placeholder="Nombre"
      [(ngModel)]="name"
      name="name"
      required>
    </ion-input>

    <ion-input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required>
    </ion-input>

    <ion-input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="password"
      name="password"
      required>
    </ion-input>

    <ion-button expand="block" type="submit">Registrarme</ion-button>
  </form>
</ion-content>

<!-- (opcional) footer si quieres dejarlo listo -->
<ion-footer class="footer-absolute">
  <ion-toolbar color="transparent" class="ion-no-border">
    <div class="register-link" style="text-align: center;">
      Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
    </div>
  </ion-toolbar>
</ion-footer>
